*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:  #1bc7fc;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white; 
    color: black;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav div{
    display: flex;
    align-items: center;
    gap: 20px;
      

}

nav div button{
    background-color: #3067fd;
    font-weight: 900;
    color: white;
    padding: 6px 12px;
    border-radius:100px;
    cursor: pointer;
    border: none;

}

nav div p, nav div img{
    cursor: pointer;
}

nav div p:hover{
    text-decoration: underline;
    font-weight: 900;
}

nav div button:hover{
    background-color: #85dbf5;
    color: rgb(88, 87, 87);
    border: 3px white;
}

main section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

main section .columna{
    display: flex;
    text-align: center;
    background-color: #85dbf5;
    border-radius: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    height: 210px;
    margin: 10px ;
    
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.image-box {
    width: 33vw;
    height: 50% ;
    padding: 20px 20px;
    margin: 20px;
    text-align: center;
    background-color: rgb(45, 149, 240);
    border-radius: 40px;
    object-fit: cover;
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    color: white;
    

}

.image-box :hover{
    color: #1663f1;
    text-decoration: underline;

}
main section .abajo{
    width: 100%;
    height: 200px;
    object-fit: cover;
  
}

h3{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.Ofertas{
    text-align: center;
    margin: 40px;
}

.servicios{
    text-align: center;
    margin: 40px;

}

.planesbox{
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.plan-box{
    max-width: 1400px;
    min-width: 300px;
    padding: 20px 20px;
    margin: 20px;
    text-align: left;
    background-color: rgb(247, 249, 250);
    border-radius: 40px;
    object-fit: cover;
    justify-content: center;
    color: #3067fd;
    
}

.plan-box:hover{
    background-color: #3067fd;
    color: #1bc7fc;
    text-decoration: underline;
}

footer{
    justify-content: center;
    display: flex;
    margin: 30px;
    gap: 20px;
    background-color: aliceblue;
    align-items: center;
    padding: 50px;
}
    
